.navigation {
    position: inherit;
    background-color: var(--background-color-dark-bg);
}

#preview {
    display: flex;
    margin: 140px auto 0;
    align-items: center;
    justify-content: center;
    width: var(--width-12col);
    color: var(--color-white);
}

.preview-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview-img {
    margin-left: auto;
}

.preview-header p {
    font-family: "Inter", serif;
    font-size: 12px;
    color: var(--primary-color);
}

.preview-header h1 {
    font-size: 32px;
    text-transform: uppercase;
}

.preview-header b {
    font-weight: 800;
}

.preview-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    margin-bottom: 10px;
    margin-top: 70px;
}

.preview-details-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.preview-details-info svg {
    color: var(--primary-color);
}

.preview-details-ingredients {
    background: linear-gradient(270deg, rgba(217, 217, 217, 0) 23.5%, rgba(217, 217, 217, 0) 23.93%, rgba(217, 217, 217, 0.1) 100%);
    border-radius: 5px;
    padding: 20px;
    color: var(--color-light);
}

.preview-details-ingredients h3 {
    font-weight: bold;
    font-size: 24px;
    color: var(--color-white);
}

.preview-ingredients-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
}

.preview-details-ingredients-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.preview-details-ingredients-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.preview-details-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.preview-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    padding: 8px 10px;
    gap: 10px;
}

.preview-button:hover {
    background-color: var(--primary-color);
}

.details-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    margin: 80px auto 0;
    width: var(--width-12col);
    gap: var(--grid-gap);
    color: var(--color-light);
}

.details-content h2 {
    font-weight: 800;
    font-size: 37px;
}

.details-divider {
    width: 100%;
    grid-column: 1 / span 12;
    height: 0;
    border: 1px solid #FFFFFF;
    grid-row: 2;
}

.details-instructions {
    grid-column: 1;
}

.details-ingredients {
    grid-column: 9;
}

.instructions-text {
    grid-row: 2;
    margin-top: 40px;
    margin-left: 14px;
    grid-column: 1 / span 6;
    list-style: decimal;
    font-size: 14px;
    line-height: 26px;
}

.instructions-text li {
    margin-bottom: 28px;
}

.ingredients-text {
    grid-row: 2;
    margin-top: 40px;
    padding-left: 5px;
    grid-column: 9 / span 12;
    list-style-position: inside;
    font-size: 14px;
    line-height: 24px;
}

.step {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.17em;
    transform: rotate(-90deg);
    text-transform: uppercase;
    color: var(--primary-color);
    white-space: nowrap;
    margin-top: 20px;
}

.instructions-text.steps {
    margin-left: 0;
    list-style: none;
}

.instructions-text.steps li {
    display: flex;
    align-items: flex-start;
}